<div class="container" ng-show="requests.length > 0">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="well">
        <mno-loader ng-show="isLoading" class="top-buffer-3"></mno-loader>
        <div ng-repeat="request in requests  track by $index" ng-show="!isLoading">
          <div ng-show="request.status == 'requested'">
            <p translate translate-value-name="{{requesterName(request)}}">
              mno_enterprise.templates.impac.impersonification_notification.message</p>
            <p translate>mno_enterprise.templates.impac.impersonification_notification.accept</p>
            <button ng-click="denyAccess($index, request)" class="btn btn-primary">
              <span translate>mno_enterprise.templates.impac.impersonification_notification.no</span>
            </button>
            <button ng-click="approveAccess($index, request)" class="btn btn-primary">
              <span translate>mno_enterprise.templates.impac.impersonification_notification.yes</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
