<div id="subscription-info">
  <div class="modal-header">
    <div class="close" type="button" ng-click="vm.onCancel()" >×</div>
    <h3 translate>mno_enterprise.templates.dashboard.provisioning.subscriptions.status.info.body.header</h3>
  </div>
  <div class="modal-body" translate>mno_enterprise.templates.dashboard.provisioning.subscriptions.status.info.body.aborted</div>
  <div class="modal-footer">
    <div class="row actions">
      <div class="col-xs-12">
        <a href="" ng-click="vm.onCancel()"><i class="fa fa-times"></i>&nbsp;{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.status.info.close' | translate}}</a>
      </div>
    </div>
  </div>
</div>
