<div id="public">
  <mno-loader ng-show="vm.isLoading" class="top-buffer-4"></mno-loader>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header pull-left">
        <div class="nav-logo pull-left"></div>
        <div class="navbar-brand">
          {{::app_name}}
        </div>
      </div>
      <div class="links pull-right">
        <a href="{{layout.links.signup}}" class="btn btn-default pull-right">Sign-up</a>
        <a href="{{layout.links.login}}" class="btn btn-default pull-right">Login</a>
      </div>
    </div>
  </nav>
  <div ui-view ng-show="!vm.isLoading"></div>
</div>
