<div id="public">
  <mno-loader ng-show="layout.isLoading" class="top-buffer-4"></mno-loader>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
      <img class="nav-logo pull-left" src="images/main-logo.png">
    </div>
    <div class="links pull-right">
      <a ng-if="layout.isRegistrationEnabled" href="{{layout.links.signup}}" class="btn btn-default pull-right">Sign-up</a>
      <a href="{{layout.links.login}}" class="btn btn-default pull-right">Login</a>
    </div>
  </nav>
  <div class="container" ui-view ng-hide="layout.isLoading"></div>
</div>
