/*-----------------------------------------------------------------------*/
/*                       General Theme Colors                            */
/*-----------------------------------------------------------------------*/
@mno-demo-light-yellow:          #FBF8E9;
@mno-demo-aqua-green:            #8CBEB2;
@mno-demo-orange:                #F2B469;
@mno-demo-strawberry:            #EE6163;
@mno-demo-brown:                 #5C4B51;
@mno-demo-white:                 #FFFFFF;

/*-----------------------------------------------------------------------*/
/*                       Twitter Bootstrap colors                        */
/*-----------------------------------------------------------------------*/
@brand-success:                  #33d375;
@brand-warning:                  #F2B469;
@brand-info:                     #8CBEB2;
@brand-danger:                   #EE6163;
@brand-primary:                  #8CBEB2;

// Main colors
//-------------------------------------------------------------
// Dashboard background color
@bg-main-color:                  #FBF8E9;

// Elements placed on top of bg-main-color
@decorator-main-color:           #8CBEB2;

// Used for text used in the context of bg-main-color
@text-strong-color:              #5C4B51;

// Used for text used in the context of inverse bg-main-color
@text-inverse-strong-color:      #FFFFFF;

// Inverse colors
//-------------------------------------------------------------
// Background color used for dashboard side menu. top banners, inverse modals
@bg-inverse-color:               #5C4B51;

// Background color for elements displayed on top of inverse elements
@bg-on-bg-inverse-color:         #FFFFFF;

// Design elements (lines, borders) on top of bg-inverse-color
@decorator-inverse-color:        #8CBEB2;

// Text used on top of bg-inverse-color such as inverse modals
@text-inverse-color:             #FBF8E9;

// Color used in small/isolated elements
//-------------------------------------------------------------
// Color used as a decoration on small icons or specific text
@decorator-touch-color:          #EE6163;
