<div class="theme-previewer-side-panel" ng-class="{'closed': collapsed}">
  <a href class="collapse-switch-btn" ng-click="collapsed = !collapsed" ng-init="collapsed = false">
    <i class="fa" ng-class="collapsed ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
  </a>
  <div class="content">
    <form>
      <div class="row text-center">
        <div ng-hide="editor.busy">
          <a href="/admin/" class="btn btn-primary">Back to Control Panel</a>
          <button ng-click="editor.reset({default: true})" class="btn btn-default">Reset to default</button>
          <button ng-click="editor.reset({save: true})" class="btn btn-default">Reset to last save</button>
          <button ng-click="editor.save()" class="btn btn-danger">Save</button>
          <button ng-click="editor.reset({published:true})" class="btn btn-default">Reset to published style</button>
          <button ng-click="editor.save({publish:true})" class="btn btn-danger">Publish</button>
          <div class="text-center top-buffer-1">Click on <b>Save</b> to save the current style without publishing it to the users.</div>
          <div class="text-center">Click on <b>Publish</b> to publish the current style to the users.</div>
        </div>
        <div ng-show="editor.busy"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
      </div>
      <uib-tabset class="top-buffer-2">
        <uib-tab heading="Theme">
          <div class="row top-buffer-1">
            <div class="form-group col-md-6" ng-repeat="(color, value) in theme">
              <label>{{labels[color]}} <br/><small class="text-muted">{{color}}</small></label>
              <spectrum-colorpicker
                ng-model="theme[color]" ng-model-options="{ debounce: 300 }" ng-change="editor.update()"
                options="{showInput: true, showAlpha: true, showPalette: true, showSelectionPalette: true, format: 'hex'}">
              </spectrum-colorpicker>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Logo">
          <div class='form-group top-buffer-1'>
            <label>New Logo</label>
            <input type="file" id="theme-main-logo" accept=".png, image/png"/>
          </div>
          <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle"></i>&nbsp;No need to hit publish, your logo will automatically be available after the upload has finished.
          </div>
          <br>
          <button class='btn btn-warning' ng-click="editor.updateLogo()" ng-disabled="editor.isUpdatingLogo">
            <span ng-show="editor.isUpdatingLogo"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            Update Logo
          </button>
        </uib-tab>
        <uib-tab heading="Advanced">
          <div class="alert alert-warning top-buffer-1">
            <span><i class="fa fa-warning"></i></span>
            This section is to be managed by technical staff.
          </div>
          <div class="panel panel-default top-buffer-1" ng-repeat="(section, vars) in variables">
            <div class="panel-heading">{{section}}</div>
            <div class="panel-body">
              <div class="form-group col-md-6" ng-repeat="(var, value) in vars">
                <label>{{var}}</label>
                <input type="text" class="form-control"
                       ng-model="variables[section][var]"
                       ng-model-options="{ debounce: 1000 }"
                       ng-change="editor.update()">
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Import/Export">
          <div class="text-center top-buffer-1">
            <div  ng-hide="editor.busy">
              <button ng-click="editor.import()" class="btn btn-danger">Import</button>
              <button ng-click="editor.export()" class="btn btn-danger">Export</button>
            </div>
            <div ng-show="editor.busy"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
          </div>
          <div class="top-buffer-1">
            <textarea class="form-control" ng-model="editor.output" rows="15" style="font-family: monospace"></textarea>
          </div>
        </uib-tab>
      </uib-tabset>

      <div class="top-buffer-1"></div>
    </form>
  </div>
</div>
