<div class='row dashboard-apps-management'>
  <div class='col-xs-12'>
    <h1 class='text-center bottom-buffer-3'>
      {{ 'mno_enterprise.templates.dashboard.app_management.heading' | translate }}
    </h1>
  </div>

  <div class='clearfix'></div>
  <mno-loader ng-show="vm.isLoading" class='top-buffer-3'></mno-loader>
  <div ng-show="!vm.isLoading" class='col-xs-12 bottom-buffer-3'>
    <div class="apps-wrapper">
      <div ng-repeat="product in vm.products" class='app-section'>
        <div class='app-logo-wrapper'>
          <img class='app-logo' ng-src="{{product.logo}}">
        </div>

        <div class='app-info'>
          <h3 class='bottom-buffer-2'>{{product.product_name}}</h3>

          <strong>
            {{ 'mno_enterprise.templates.dashboard.app_management.status' | translate }}
          </strong>
          <div ng-if=!vm.providesStatus(product)>
            {{ 'mno_enterprise.templates.dashboard.app_management.no_status' | translate }}
          </div>

          <div ng-if='vm.providesStatus(product)'>
            <span ng-if="vm.dataSharingEnabled(product)">
              {{ 'mno_enterprise.templates.dashboard.app_management.data_sharing.status' | translate:{status: vm.dataSharingStatus(product)} }}
            </span>

            <span ng-if="vm.subscriptionStatus(product)">
              {{ 'mno_enterprise.templates.dashboard.app_management.subscription.status' | translate:{status: vm.subscriptionStatus(product)} }}
            </span>
          </div>
        </div>

        <div class='app-btn-events'>
          <a ng-href="{{ vm.appActionUrl(product) }}" target='_blank' class='btn btn-primary top-buffer-1' >
            {{ 'mno_enterprise.templates.dashboard.app_management.access' | translate }}
          </a>
          <a ui-sref="home.app-management({appId: product.id})" class='btn btn-default top-buffer-1'>
            {{ 'mno_enterprise.templates.dashboard.app_management.manage_app' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
