<div class="sidebar">
  <div class="compose-wrapper">
    <div class="compose tasks-btn tasks-btn-raised" ng-click="">
      <span>Compose</span>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
  </div>

  <div class="menu">
    <div class="menu-item tasks-btn" ng-click="">
      <span>Inbox</span>
    </div>
    <div class="menu-item tasks-btn" ng-click="">
      <span>Sent</span>
    </div>
    <div class="menu-item tasks-btn" ng-click="">
      <span>Draft</span>
    </div>
  </div>
</div>

<div class="tasks">

  <mno-sortable-table fields="$ctrl.mnoSortableTableFields" dataset="$ctrl.tasks"></mno-sortable-table>

</div>





