mnoe-tasks {

  & > .topbar {
    display: flex;
    flex-direction: column;

    .compose {
      margin: 5px 7px;
      font-weight: bold;
      min-width: 130px;
      max-width: 130px;
    }

    .tasks-menu .menu-item {
      flex-grow: 1;
    }
  }

  & > .main {
    display: flex;

    .sidebar {
      display: flex;
      flex-direction: column;
      flex-grow: 0;

      .tasks-menu {
        flex-direction: column;

        .menu-item {
          min-width: 130px;
          max-width: 130px;
        }
      }
    }

    .tasks {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      background-color: white;
      border-radius: 3px;
      overflow: auto;

      mno-sortable-table {
        .st-sort-ascent:after,
        .st-sort-descent:after {
          color: @dashboard-messages-tasks-column-sort-icon-active-color;
        }

        td.ellipsis {
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .pagination {
        padding: 0 10px;
      }
    }
  }

  .tasks-menu {
    display: flex;

    .menu-item {
      background-color: @dashboard-messages-menu-btn-bg-color;
      margin: 1px 7px;
      color: @dashboard-messages-menu-btn-text-color;
      &:hover {
        color: @dashboard-messages-menu-btn-hover-text-color;
        background-color: @dashboard-messages-menu-btn-hover-bg-color;
      }
    }
  }
}
