// Base style
.accordion {
  .panel-group .panel {
    margin: 25px 0px;
  }

  .panel-group .panel,
  .panel-group .panel > .panel-heading {
    background-color: @dashboard-account-panel-header-bg-color;
    border: none;
    box-shadow: none;
  }

  .panel-group .panel > .panel-heading {
    color: @dashboard-account-panel-header-text-color;
    padding: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .panel-title > div,
    .panel-title > a {
      font-size: 90%;
      display: block;
      padding-left: 10px;
      line-height: 54px;
      height: 54px;
      cursor: pointer;

      &:hover, &:focus {
        text-decoration: none;
      }
    }

    .panel-title .fa.pull-right {
      margin-right: 20px;
      margin-top: 20px;
    }
  }

  .panel-group .panel-collapse > .panel-body {
    background-color: @dashboard-account-panel-body-bg-color;
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    label {
      color: @dashboard-account-panel-text-color;
    }

    p, ul > li {
      font-weight: 300;
    }
  }
}
