.btn-fluid-wrapper .btn {
  width: 100%;
}

.btn {
  &.float-right {
    float:right;
  }
  &.btn-promo {
    font-size:18px;
    padding-left:30px;
    padding-right:30px;
  }

  .subtitle {
    font-size:@small;
    font-weight:300;
    width:100%;
    display:block;
    text-align:center;
  }

  &.arrow,
  &.arrow-right {
    background-image: image-url('icons/icon-arrow-right.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
  }

  &.arrow-left {
    background-image: image-url('icons/icon-arrow-left.png');
    background-repeat: no-repeat;
    background-position: 4% 50%;
  }

  &.btn-dark {
    .font(16px, 300, @bg-main-color);
    background-color: @bg-inverse-color;

    &:hover {
      color: @elem-cozy-color;
    }
  }

  &.btn-info {
    color: @btn-text-color;
    background-color: @btn-bg-color;
    border-color: @btn-border-color;
  }

  &.btn-danger {
    color: @btn-danger-text-color;
    background-color: @btn-danger-bg-color;
    border-color: @btn-danger-border-color;

    &:hover {
      background-color: darken(@btn-danger-bg-color, 10%);
    }
  }

  &.btn-primary {
    color: @btn-text-color;
    background-color: @btn-bg-color;
    border-color: darken(@btn-bg-color, 10%);

    &:hover {
      background-color: darken(@btn-bg-color, 10%);
    }
  }

  &.btn-warning {
    color: @btn-text-color;
    background-color: @btn-bg-color;
    border-color: @btn-border-color;

    &:hover {
      background-color: darken(@btn-bg-color, 10%);
    }
  }

  &.btn-shaded {
    background-color: @btn-cancel-bg-color;
    border: solid 1px @bg-inverse-intense-color;
    color: @btn-cancel-text-color;
    font-weight: 400;
    border-color: @btn-cancel-border-color;

    &:hover {
      background-color: darken(@btn-cancel-bg-color,10%);
    }
  }

  &.btn-whited {
    background-color: lighten(#ccc,15%);
    border: solid 1px #ccc;
    color: #ccc;
    font-weight: 400;

    &:hover {
      color: darken(#ccc,20%);
      background-color: #ccc;
    }
  }
}
