<div class="row">
  <div class="col-md-12">
    <p translate="mno_enterprise.templates.dashboard.organization.billing.current_billing_html" translate-value-amount="{{ billing.current.value | currency: defaultCurrency + '$'}}">
    </p>
  </div>
</div>

<div class="row" ng-show="isCreditShown()">
  <div class="col-md-12">
    <p>
      You have <b>{{ billing.credit.value | currency: billing.credit.options.symbol }} ({{ billing.credit.options.iso_code }})</b> credit on your account to be used for the next payment. Note that this credit account will also be linked to any organization you create.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <small>
        <em>
          {{ 'mno_enterprise.templates.dashboard.organization.billing.disclaimer' | translate }}
        </em>
      </small>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5>{{ 'mno_enterprise.templates.dashboard.organization.billing.about_title' | translate }}</h5>
    <p>
      {{ 'mno_enterprise.templates.dashboard.organization.billing.about_body' | translate }}
    </p>
  </div>
</div>
