<!--
  List of Members
-->
<div class="row" ng-show="isInviteShown()">
  <button class="btn btn-sm btn-warning" ng-click="inviteMembers()">
    <i class="fa fa-user-plus"></i>
    {{ 'mno_enterprise.templates.dashboard.organization.members.invite_users' | translate }}
  </button>
</div>

<!-- Loader -->
<mno-loader ng-show="isLoading"></mno-loader>

<div class="table-cell" ng-show="!isLoading">
  <div class="row th-row hidden-xs">
    <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.organization.members.name' | translate }}</div>
    <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.organization.members.surname' | translate }}</div>
    <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.organization.members.email' | translate }}</div>
    <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.organization.members.role' | translate }}</div>
  </div>

  <div class="row td-row" ng-repeat="member in members">
    <div class="cell col-sm-2">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.name' | translate }}:
      </span>
      {{ member.name }}
    </div>

    <div class="cell col-sm-2">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.surname' | translate }}:
      </span>
      {{ member.surname }}
    </div>

    <div class="cell col-sm-4">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.email' | translate }}:
        <br/>
      </span>
      {{ member.email }}
    </div>

    <div class="cell col-sm-2">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.role' | translate }}:
      </span>
      {{ memberRoleLabel(member) }}
    </div>
    <div class="cell col-sm-2">
      <a ng-click="editMember(member)" class="btn btn-sm edit-member-button-star-ref" ng-show="isEditShown(member)">
        <i class="fa fa-pencil-square-o"></i>
        <span class="cell-label visible-xs-inline"><br/>{{ 'mno_enterprise.templates.dashboard.organization.members.edit' | translate }}</span>
      </a>
      <a ng-click="removeMember(member)" class="btn btn-sm btn-link remove-member-button-star-ref" ng-show="isRemoveShown(member)">
        <i class="fa fa-remove"></i>
        <span class="cell-label visible-xs-inline"><br/>{{ 'mno_enterprise.templates.dashboard.organization.members.remove' | translate }}</span>
      </a>
    </div>
  </div>
</div>
