<!--
  List of Members
-->
<div class="row" ng-show="isInviteShown()">
  <button class="btn btn-sm btn-warning" ng-click="inviteMembers()">
    <i class="fa fa-user-plus"></i>
    {{ 'mno_enterprise.templates.dashboard.organization.members.invite_users' | translate }}
  </button>
</div>

<!-- Loader -->
<mno-loader ng-show="isLoading"></mno-loader>

<div class="table-cell" ng-show="!isLoading">
  <div class="row th-row hidden-xs">
    <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.organization.members.name' | translate }}</div>
    <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.organization.members.surname' | translate }}</div>
    <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.organization.members.email' | translate }}</div>
    <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.organization.members.role' | translate }}</div>
  </div>

  <div class="row td-row" ng-repeat="member in members">
    <div class="cell col-sm-2">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.name' | translate }}:
      </span>
      {{ member.name }}
    </div>

    <div class="cell col-sm-2">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.surname' | translate }}:
      </span>
      {{ member.surname }}
    </div>

    <div class="cell col-sm-4">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.email' | translate }}:
        <br/>
      </span>
      {{ member.email }}
    </div>

    <div class="cell col-sm-2">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.members.role' | translate }}:
      </span>
      {{ memberRoleLabel(member) }}
    </div>
    <div class="cell col-sm-2">
      <a ng-click="editMember(member)" class="btn btn-sm edit-member-button-star-ref" ng-show="isEditShown(member)">
        <i class="fa fa-pencil-square-o"></i>
        <span class="cell-label visible-xs-inline"><br/>{{ 'mno_enterprise.templates.dashboard.organization.members.edit' | translate }}</span>
      </a>
      <a ng-click="removeMember(member)" class="btn btn-sm btn-link remove-member-button-star-ref" ng-show="isRemoveShown(member)">
        <i class="fa fa-remove"></i>
        <span class="cell-label visible-xs-inline"><br/>{{ 'mno_enterprise.templates.dashboard.organization.members.remove' | translate }}</span>
      </a>
    </div>
  </div>
</div>

<!--
  Member Invite modal
-->
<script type="text/ng-template" id="dashboard/organization/members/invite-modal.html">
  <!-- Modal Header -->
  <div class="modal-header">
    <div class="close" type="button" ng-click="inviteModal.close()">×</div>
    <h3 ng-bind-html="inviteModal.title()"></h3>
  </div>

  <!-- Modal Body -->
  <div class="modal-body" ng-switch on="inviteModal.step">

    <!-- Enter Emails step -->
    <div ng-switch-when="enterEmails" class="text-center">

      <div class="alert alert-error" ng-show="inviteModal.invalidEmails.length > 0">
        <ng-pluralize count="inviteModal.invalidEmails.length" when="{'one': 'The following email address is invalid: ',
                       'other': 'The following email addresses are invalid: '}"></ng-pluralize>
        '{{inviteModal.invalidEmails.join("', '")}}'
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p>{{ 'mno_enterprise.templates.dashboard.organization.members.invite_modal.description' | translate }}</p>
          <p>
            {{ 'mno_enterprise.templates.dashboard.organization.members.invite_modal.example' | translate }}
            <br>
            user1@company.com<br>
            user2@company.com
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <textarea class="form-control" rows="3" style="color:black;background-color:white;" ng-model="inviteModal.userEmails" required></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p>{{ 'mno_enterprise.templates.dashboard.organization.members.invite_modal.disclaimer' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- Define Roles step -->
    <div ng-switch-when="defineRoles">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

          <div class="table-cell inverse">
            <div class="row th-row hidden-xs">
              <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.organization.members.email' | translate }}</div>
              <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.organization.members.role' | translate }}</div>
              <div class="cell col-sm-3" ng-show="inviteModal.isTeamListShown()">{{ 'mno_enterprise.templates.dashboard.organization.members.team' | translate }}</div>
            </div>

            <div class="row td-row" ng-repeat="member in inviteModal.members">
              <div class="cell col-sm-4">
                <span class="cell-label visible-xs-inline">
                  {{ 'mno_enterprise.templates.dashboard.organization.members.email' | translate }}:
                  <br/>
                </span>
                {{ member.email }}
              </div>

              <div class="cell col-sm-3">
                <span class="cell-label visible-xs-inline">{{ 'mno_enterprise.templates.dashboard.organization.members.role' | translate }}:</span>
                <select ng-model="member.role" ng-options="role for role in inviteModal.roleList" class="form-control"></select>
              </div>
              <div class="cell col-sm-3" ng-show="inviteModal.isTeamListShown()">
                <span class="cell-label visible-xs-inline">
                  {{ 'mno_enterprise.templates.dashboard.organization.members.team' | translate }}:
                </span>
                <select ng-model="member.team_id" ng-options="team.id as team.name for team in inviteModal.teamList" class="form-control">
                  <option value='' selected>
                    {{ 'mno_enterprise.templates.dashboard.organization.members.team_select' | translate }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: modal-body -->
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-shaded" ng-click="inviteModal.close()" ng-show="!inviteModal.isLoading">
          {{ 'mno_enterprise.templates.dashboard.organization.members.invite_modal.cancel' | translate }}
        </button>
        <button class="btn btn-warning" ng-disabled="!inviteModal.isNextEnabled() || inviteModal.isLoading" ng-click="inviteModal.next()">
          <span ng-show="inviteModal.isLoading">
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
          </span>
          <span ng-show="inviteModal.labelForAction() === 'Next'">
            {{ 'mno_enterprise.templates.dashboard.organization.members.invite_modal.next' | translate }}
          </span>
          <span ng-show="inviteModal.labelForAction() === 'Invite'">
            {{ 'mno_enterprise.templates.dashboard.organization.members.invite_modal.invite' | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
</script>

<!--
  Member edition modal
-->
<script id="dashboard/organization/members/edition-modal.html" type="text/ng-template">
  <!--Modal Header -->
  <div class="modal-header">
    <div class="close" ng-click="editionModal.close()" type="button">×</div>
    <h4 ng-bind-html="editionModal.title()"></h4>
  </div>

  <!--Modal Body -->
  <div class="modal-body">
    <div class="alert alert-error" ng-show="editionModal.errors">
      <button class="close" ng-click="editionModal.errors=''">×</button>
      <ul>
        <li ng-repeat="error in editionModal.errors">{{error}}</li>
      </ul>
    </div>

    <div class="row role-management">
      <div class="col-sm-12">
        <div ng-switch on="editionModal.selectedRole">
          <div ng-switch-when="Member">
            <i class="fa fa-cloud fa-4x"></i>
            <br/><br/>
            <p>{{ 'mno_enterprise.templates.dashboard.organization.members.edition_modal.roles.member' | translate }}</p>
          </div>
          <div ng-switch-when="Power User">
            <i class="fa fa-cloud fa-4x"></i>
            <i class="fa fa-power-off fa-4x"></i>
            <br/><br/>
            <p>{{ 'mno_enterprise.templates.dashboard.organization.members.edition_modal.roles.power_user' | translate }}</p>
          </div>
          <div ng-switch-when="Admin">
            <i class="fa fa-cloud fa-4x"></i>
            <i class="fa fa-power-off fa-4x"></i>
            <i class="fa fa-users fa-4x"></i>
            <br/><br/>
            <p>{{ 'mno_enterprise.templates.dashboard.organization.members.edition_modal.roles.admin' | translate }}</p>
          </div>
          <div ng-switch-when="Super Admin">
            <i class="fa fa-cloud fa-4x"></i>
            <i class="fa fa-power-off fa-4x"></i>
            <i class="fa fa-users fa-4x"></i>
            <i class="fa fa-cc-mastercard fa-4x"></i>
            <br/><br/>
            <p>{{ 'mno_enterprise.templates.dashboard.organization.members.edition_modal.roles.super_admin' | translate }}</p>
          </div>
        </div>

        <div class="btn-group">
          <button class="btn btn-default" ng-class="editionModal.classForRole(role)" ng-click="editionModal.select(role)" ng-repeat="role in editionModal.config.roles" type="button">
            {{role}}
          </button>
        </div>
        <!-- End: col -->
      </div>
      <!-- End: Row -->
    </div>
    <!-- End: Modal Body -->
  </div>

  <!--Modal Footer -->
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-default" ng-click="editionModal.close()" ng-show="!editionModal.isLoading">
          {{ 'mno_enterprise.templates.dashboard.organization.members.edition_modal.cancel' | translate }}
        </button>
        <button class="btn btn-warning" ng-click="editionModal.change()" ng-disabled="editionModal.isChangeDisabled() || editionModal.isLoading">
          <span ng-show="editionModal.isLoading">
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
          </span>
          {{ 'mno_enterprise.templates.dashboard.organization.members.edition_modal.change' | translate }}
        </button>
      </div>
    </div>
  </div>
</script>

<!--
  Member Removal Modal
-->
<script type="text/ng-template" id="dashboard/organization/members/removal-modal.html">
  <div class="modal-header">
    <div class="close" type="button" ng-click="deletionModal.close()">×</div>
    <h3>{{ 'mno_enterprise.templates.dashboard.organization.members.removal_modal.title' | translate }}</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-error" ng-show="deletionModal.errors">
          <button class="close" ng-click="deletionModal.errors=''">×</button>
          <ul>
            <li ng-repeat="error in deletionModal.errors">{{error}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p ng-if="deletionModal.hasName()" class="align-center"
          translate="mno_enterprise.templates.dashboard.organization.members.removal_modal.body_name"
          translate-value-name="{{ deletionModal.member.name }}"
          translate-value-surname="{{ deletionModal.member.surname }}">
        </p>
        <p ng-if="!deletionModal.hasName()" class="align-center"
          translate="mno_enterprise.templates.dashboard.organization.members.removal_modal.body_email"
          translate-value-email="{{ deletionModal.member.email }}">
        </p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-default" ng-click="deletionModal.close()" ng-show="!deletionModal.isLoading">
          {{ 'mno_enterprise.templates.dashboard.organization.members.removal_modal.cancel' | translate }}
        </button>
        <button class="btn btn-danger" ng-click="deletionModal.remove()" ng-disabled="deletionModal.isLoading">
          <span ng-show="deletionModal.isLoading">
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
          </span>
          {{ 'mno_enterprise.templates.dashboard.organization.members.removal_modal.remove' | translate }}
        </button>
      </div>
    </div>
  </div>
</script>
