<div id="account">
  <h2 class="section-title">{{ 'mno_enterprise.templates.dashboard.account.my_account' | translate }}</h2>

  <div uib-accordion class="accordion top-buffer-2">
    <div uib-accordion-group is-open="vm.isPersoInfoOpen">
      <div uib-accordion-heading>
        {{ 'mno_enterprise.templates.dashboard.account.personal_information' | translate }} <span class="fa pull-right" ng-class="{'fa-caret-down': !vm.isPersoInfoOpen, 'fa-caret-up': vm.isPersoInfoOpen}"></span>
      </div>

      <div class="alert alert-error" ng-show="vm.errors.user">
        <button class="close" ng-click="vm.errors.user=''">×</button>
        <ul>
          <li ng-repeat="error in vm.errors.user">{{error}}</li>
        </ul>
      </div>
      <div class="alert alert-success" ng-show="vm.success.user">
        <button class="close" ng-click="vm.success.user=''">×</button>
        <p>{{vm.success.user}}</p>
      </div>
      <form name='form'>
        <div class='row'>
          <div class='col-md-6'>
            <label>{{ 'mno_enterprise.templates.dashboard.account.user_form_name' | translate }}</label>
            <input type='text' ng-model='vm.user.model.name' class='form-control'>
          </div>
          <div class='col-md-6'>
            <label>{{ 'mno_enterprise.templates.dashboard.account.user_form_surname' | translate }}</label>
            <input type='text' ng-model='vm.user.model.surname' class='form-control'>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <label>{{ 'mno_enterprise.templates.dashboard.account.user_form_email' | translate }}</label>
            <input type='text' ng-model='vm.user.model.email' class='form-control'>
          </div>
          <div class='col-md-6'>
            <label>{{ 'mno_enterprise.templates.dashboard.account.user_form_phone' | translate }}</label>
            <div class="input-group">
              <div class="input-group-addon select">
                <select ng-options="phone[0] as phone[1] for phone in vm.countryCodes" ng-model='vm.user.model.phone_country_code'></select>
              </div>
              <input type='text' ng-model='vm.user.model.phone' class='form-control'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <button ng-disabled="!vm.user.hasChanged() || vm.user.loading" class='btn btn-warning' ng-click="vm.user.update()">
              <span ng-show="vm.user.loading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
              {{ 'mno_enterprise.templates.dashboard.account.user_form_save' | translate }}
            </button>
            <button ng-show="vm.user.hasChanged() && !vm.user.loading" class='btn ng-hide' ng-click="vm.user.cancelChanges()">
              {{ 'mno_enterprise.templates.dashboard.account.user_form_cancel' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>

    <!--
      Change Password Section
    -->
    <div uib-accordion-group is-open="vm.isChangePasswordOpen">
      <div uib-accordion-heading>
          {{ 'mno_enterprise.templates.dashboard.account.change_password' | translate }} <span class="fa pull-right" ng-class="{'fa-caret-down': !vm.isChangePasswordOpen, 'fa-caret-up': vm.isChangePasswordOpen}"></span>
      </div>
      <form name='vm.form' novalidate>
        <mno-password class="top-buffer-1"
          form="vm.form"
          data="vm.user.password"
          current="true"
          confirm="true"
          current-text="Current Password"
          new-text="New Password"
          confirm-text="Confirm Password">
        </mno-password>

        <div class='row top-buffer-1'>
          <div class='col-md-12'>
            <button ng-click="vm.user.updatePassword(vm.form)" ng-disabled="vm.form.$invalid || vm.user.loading" class='btn btn-warning'>
              <span ng-show="vm.user.loading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
              Save
            </button>
            <button ng-click="vm.user.cancelPassword()" ng-show="vm.user.cancelPasswordEnabled() && !vm.user.loading" class='btn btn-default'>
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

    <!--
      Change locale section
    -->
    <div uib-accordion-group ng-if="vm.isLocalizationVisible" is-open="vm.isLocalizationOpen">
      <div uib-accordion-heading>
          {{ 'mno_enterprise.templates.dashboard.account.language' | translate }} <span class="fa pull-right" ng-class="{'fa-caret-down': !vm.isChangePasswordOpen, 'fa-caret-up': vm.isChangePasswordOpen}"></span>
      </div>
      <dashboard-language-selectbox></dashboard-language-selectbox>
    </div>

    <!--
      Account Deletion Section
      (Removed: cf. git log)
      -->
  </div>
</div>
