<div class="btn-fluid-wrapper" ng-if="!vm.isLoading" ng-switch on="$ctrl.appInstance.status">
  <div ng-switch-when="CONFLICT" class="message">
    <i class="fa fa-exclamation-triangle"></i>
    {{ 'mno_enterprise.templates.components.app_install_btn.conflicting_app' | translate }}
    <span>{{$ctrl.conflictingApp.name}}</span>
  </div>
  <div ng-switch-when="INSTALLED_LAUNCH">
    <i class="fa fa-check fa-2x"></i><br>
    <span class="text-muted">(connected)</span>
  </div>
  <a href="" ng-switch-when="INSTALLED_CONNECT" ng-click="$ctrl.connectAppInstance()" class="btn btn-warning">
    {{ 'mno_enterprise.templates.components.app_install_btn.connect_app' | translate }}
  </a>
</div>
