<!--
  Error messages
-->
<div class="row">
  <div class="alert alert-error" ng-show="errors">
    <button class="close" ng-click="errors=''">×</button>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>
</div>


<div class="row">
  <form name="forms.settings" role="form" novalidate class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">{{ 'mno_enterprise.templates.dashboard.organization.settings.company_name' | translate }}</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="model.name" required/>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <form name="forms.settings" role="form" novalidate class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">{{ 'mno_enterprise.templates.dashboard.organization.settings.financial_year_month' | translate }}</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="model.financial_year_end_month" required/>
      </div>
    </div>
  </form>
</div>

<!--
  Action buttons
-->
<div class="row text-right">
  <div class="col-md-4 col-md-offset-8">
    <button ng-click="cancel()" class="btn btn-default" ng-show="isCancelShown() && !isLoading">
      {{ 'mno_enterprise.templates.dashboard.organization.settings.cancel' | translate }}
    </button>

    <button ng-click="save()" href="" class="btn btn-warning" ng-disabled="!isSaveEnabled() || isLoading">
      <span ng-show="isLoading">
        <i class="fa fa-spinner fa-pulse"></i>
      </span>
      {{ 'mno_enterprise.templates.dashboard.organization.settings.save' | translate }}
    </button>
  </div>
</div>
