<div class="modal-header">
  <div class="close" type="button" ng-click="teamDeletionModal.close()" >×</div>
  <h3>{{ 'mno_enterprise.templates.dashboard.teams.team_delete_modal.title' | translate }}</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-error" ng-show="teamDeletionModal.errors">
        <button class="close" ng-click="teamDeletionModal.errors=''">×</button>
        <ul>
          <li ng-repeat="error in teamDeletionModal.errors">{{error}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="align-center"
        translate="mno_enterprise.templates.dashboard.teams.team_delete_modal.confirmation"
        translate-value-teamname="{{teamDeletionModal.team.name}}">
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-default" ng-click="teamDeletionModal.close()" ng-show="!teamDeletionModal.isLoading">
        {{ 'mno_enterprise.templates.dashboard.teams.team_delete_modal.cancel' | translate }}
      </button>
      <button class="btn btn-danger" ng-click="teamDeletionModal.proceed()" ng-disabled="teamDeletionModal.isLoading">
        <span ng-show="teamDeletionModal.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
        {{ 'mno_enterprise.templates.dashboard.teams.team_delete_modal.remove' | translate }}
      </button>
    </div>
  </div>
</div>
