<h2 class="section-title">{{ 'mno_enterprise.templates.dashboard.organization.index.title' | translate }}</h2>

<div class="row dashboard-organization">

  <mno-loader ng-show="vm.isLoading" class="top-buffer-4"></mno-loader>

  <!-------------------------------------->
  <!--            Normal View           -->
  <!-------------------------------------->
  <div class="col-md-12 top-buffer-4" ng-if="!vm.isTabSetShown() && !vm.isLoading">

    <!-- Directive: DashboardOrganizationMembers -->
    <div class="well">
      <div class="col-md-12">
        <div dashboard-organization-members></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div dashboard-organization-team-list title="Your Teams"></div>
      </div>
    </div>
  </div>


  <!-------------------------------------->
  <!--         Super Admin View         -->
  <!-------------------------------------->
  <div class="col-md-12 top-buffer-4" ng-if="vm.isTabSetShown() && !vm.isLoading">

    <div uib-tabset>

      <!-------------------------------------->
      <!--         Billing Section          -->
      <!-------------------------------------->
      <div uib-tab ng-show="vm.isBillingShown()" active="vm.tabs.billing">
        <div uib-tab-heading>{{ 'mno_enterprise.templates.dashboard.organization.index.billing.title' | translate }}</div>

        <!-- Directive: DashboardOrganizationArrears -->
        <!-- <div dashboard-organization-arrears></div> -->

        <div uib-accordion class="accordion">
          <div uib-accordion-group is-open="isCrbgOpen">
            <div uib-accordion-heading>
              {{ 'mno_enterprise.templates.dashboard.organization.index.billing.current_billing' | translate }} <span class="fa pull-right" ng-class="{'fa-caret-down': !isCrbgOpen, 'fa-caret-up': isCrbgOpen}"></span>
            </div>

            <!-- Directive: DashboardOrganizationBilling -->
            <div class="col-md-12">
              <div dashboard-organization-billing></div>
            </div>

            <!-- End: accordion-group current billing -->
          </div>

          <div uib-accordion-group is-open="isBdtOpen" ng-if="vm.payment_enabled">
            <div uib-accordion-heading>
              {{ 'mno_enterprise.templates.dashboard.organization.index.billing.billing_details' | translate }} <span class="fa pull-right" ng-class="{'fa-caret-down': !isBdtOpen, 'fa-caret-up': isBdtOpen}"></span>
            </div>

            <!-- Directive: DashboardOrganizationBilling -->
            <div class="col-md-12">
              <div dashboard-organization-credit-card></div>
            </div>

            <!-- End: accordion-group credit card form -->
          </div>

          <div uib-accordion-group is-open="isPsIvOpen">
            <div uib-accordion-heading>
              {{vm.payment_enabled ? 'mno_enterprise.templates.dashboard.organization.index.billing.past_invoices' : 'mno_enterprise.templates.dashboard.organization.index.billing.account_statement' | translate }}
              <span class="fa pull-right" ng-class="{'fa-caret-down': !isPsIvOpen, 'fa-caret-up': isPsIvOpen}"></span>
            </div>

            <!-- Directive: DashboardOrganizationInvoices -->
            <div class="col-md-12">
              <div dashboard-organization-invoices></div>
            </div>

            <!-- End: accordion-group past invoices -->
          </div>

          <!-- End: accordion -->
        </div>

        <!-- End: tab billing section -->
      </div>

      <!-------------------------------------->
      <!--        Members Section           -->
      <!-------------------------------------->
      <div uib-tab active="vm.tabs.members">
        <div uib-tab-heading>{{ 'mno_enterprise.templates.dashboard.organization.index.members.title' | translate }}</div>

        <!-- Directive: DashboardOrganizationMembers -->
        <div class="well">
          <div class="col-md-12">
            <div dashboard-organization-members></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <!-- End: tab members section -->
      </div>

      <!-------------------------------------->
      <!--     Team Management Section      -->
      <!-------------------------------------->
      <div uib-tab active="tabs.teams">
        <div uib-tab-heading>{{ 'mno_enterprise.templates.dashboard.organization.index.teams.title' | translate }}</div>

        <div>
          <h4>
            {{ 'mno_enterprise.templates.dashboard.organization.index.teams.subtitle' | translate }}
            <span class="text-muted"><small><em>&nbsp;{{ 'mno_enterprise.templates.dashboard.organization.index.teams.control_access' | translate }}</em></small></span>
          </h4>

          <!-- Directive: DashboardOrganizationSettings -->
          <div class="col-md-12">
            <div dashboard-organization-teams></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <!-- End: tab team management section -->
      </div>

      <!-------------------------------------->
      <!--    Company Settings Section      -->
      <!-------------------------------------->
      <div uib-tab ng-show="vm.isSettingsShown()" active="vm.tabs.settings">
        <div uib-tab-heading>{{ 'mno_enterprise.templates.dashboard.organization.index.settings.title' | translate }}</div>

        <div class="well">
          <!-- Directive: DashboardOrganizationSettings -->
          <div class="col-md-12">
            <div dashboard-organization-settings></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <!-- End: tab settings section -->
      </div>

      <!-- End: tabset -->
    </div>

    <!-- End: column -->
  </div>

  <!-- End: row -->
</div>
