#landing {
  .nav-logo {
    background-image: url('images/main-logo.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 10px 5px;
  }

  .navbar-brand {
    padding: 15px;
    height: 55px;
    line-height: 25px;
    margin-left: -15px;
  }
}
