<div id="provisioning-confirm">
  <h1 translate>mno_enterprise.templates.dashboard.provisioning.confirm.title</h1>
  <div class="well clearfix">
    <div class="table-cell">
      <div class="row th-row hidden-xs">
        <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.name' | translate }}</div>
        <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.description' | translate }}</div>
        <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.price' | translate }}</div>
      </div>

      <div class="row td-row">
        <div class="cell col-sm-4">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.name' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.name }}
        </div>

        <div class="cell col-sm-4">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.description' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.description }}
        </div>

        <div class="cell col-sm-4">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.price' | translate }}:
          </span>
          <span ng-repeat="price in vm.subscription.product_pricing.prices | filterBy: ['currency']: vm.orgCurrency">{{price.currency}} {{price.price_cents / 100}}</span>
        </div>
      </div>
    </div>

    <span class="pull-right top-buffer-1">
      <button class="btn btn-primary" ui-sref="home.provisioning.order({id: vm.subscription.id})" translate>mno_enterprise.templates.dashboard.provisioning.confirm.edit_order</button>
      <button class="btn btn-warning" ng-click="vm.validate()" ng-disabled="vm.isLoading">
        <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
        <span translate>mno_enterprise.templates.dashboard.provisioning.confirm.validate</span>
      </button>
    </span>
  </div>
</div>
