<div id="provisioning-confirm">
  <h1 translate>mno_enterprise.templates.dashboard.provisioning.confirm.title</h1>
  <div class="well clearfix">
    <div class="breadcrumb-info">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ vm.subscription.product.name }}</li>
        <li class="breadcrumb-item active">{{ vm.subscription.product_pricing.name }}</li>
      </ol>
    </div>
    <div class="table-cell">
      <div class="row th-row hidden-xs">
        <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.name' | translate }}</div>
        <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.description' | translate }}</div>
        <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.licenses' | translate }}</div>
        <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.price' | translate }}</div>
      </div>

      <div class="row td-row">
        <div class="cell col-sm-3">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.name' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.name }}
        </div>

        <div class="cell col-sm-3">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.description' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.description }}
        </div>

        <div class="cell col-sm-2">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.licenses' | translate }}:
          </span>
          {{ vm.subscription.max_licenses }}
        </div>

        <div class="cell col-sm-4">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.price' | translate }}:
          </span>

          <div ng-hide="vm.subscription.product_pricing.pricing_type == 'payg'">
            <div ng-repeat="price in vm.subscription.product_pricing.prices | filterBy: ['currency']: vm.orgCurrency" class="badge">
              <span ng-hide="vm.subscription.product_pricing.license_based">
                {{ price.currency }} {{ price.price_cents / 100 | number:2 }}
                <span ng-show="vm.subscription.product_pricing.pricing_type == 'recurring'">
                  / {{ vm.subscription.product_pricing.per_unit }} / {{ vm.subscription.product_pricing.per_duration }}
                </span>
              </span>
              <span ng-show="vm.subscription.product_pricing.license_based">
                {{ price.currency }} {{ price.price_cents / 100 * vm.subscription.max_licenses | number:2 }}
                <span ng-show="vm.subscription.product_pricing.pricing_type == 'recurring'">
                  / {{ vm.subscription.product_pricing.per_duration }}
                </span>
              </span>
            </div>
          </div>

          <span ng-show="vm.subscription.product_pricing.pricing_type == 'payg'">
            {{ 'mno_enterprise.templates.dashboard.provisioning.order.pricing_type.payg' | translate }}
          </span>
          <span ng-show="vm.subscription.product_pricing.pricing_type == 'free'">
            {{ 'mno_enterprise.templates.dashboard.provisioning.order.pricing_type.free' | translate }}
          </span>
        </div>
      </div>
    </div>

    <span class="pull-right top-buffer-1">
      <button class="btn btn-primary" ng-click="vm.editOrder()" translate>mno_enterprise.templates.dashboard.provisioning.confirm.edit_order</button>
      <button class="btn btn-warning" ng-click="vm.validate()" ng-disabled="vm.isLoading">
        <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
        <span translate>mno_enterprise.templates.dashboard.provisioning.confirm.validate</span>
      </button>
    </span>
  </div>
</div>
