<div id="provisioning-confirm">
  <h1 translate>mno_enterprise.templates.dashboard.provisioning.confirm.title</h1>
  <div class="well clearfix">
    <div class="breadcrumb-info">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ vm.subscription.product.name }}</li>
        <li class="breadcrumb-item active">{{ vm.subscription.product_pricing.name }}</li>
      </ol>
    </div>

    <div class="table-cell">
      <div class="row th-row hidden-xs">
        <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.order_type' | translate }}</div>
        <div ng-show="vm.subscription.product.product_type == 'application'" class="cell col-sm-7">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.pricing_info.title' | translate }}</div>
      </div>
      <div class="row td-row">
        <div class="cell col-sm-3">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.order_type' | translate }}:
          </span>
          {{ vm.orderTypeText | translate }}
        </div>
        <div ng-show="vm.subscription.product.product_type == 'application'" class="cell col-sm-7">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.pricing_info.title' | translate }}:
          </span>
          <div ng-hide="vm.singleBilling">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.pricing_info.single_billing_disabled' | translate }}
          </div>
          <div ng-show="vm.singleBilling && !vm.billedLocally">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.pricing_info.externally_managed' | translate }}
          </div>
          <div ng-show="vm.singleBilling && vm.billedLocally">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.pricing_info.billed_locally' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div ng-show="(vm.singleBilling && vm.billedLocally) || vm.subscription.product.product_type != 'application'" class="table-cell">
      <div class="row th-row hidden-xs">
        <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.name' | translate }}</div>
        <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.description' | translate }}</div>
        <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.licenses' | translate }}</div>
        <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.provisioning.confirm.price' | translate }}</div>
      </div>

      <div class="row td-row">
        <div class="cell col-sm-3">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.name' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.name }}
        </div>

        <div class="cell col-sm-2">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.description' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.description }}
        </div>

        <div class="cell col-sm-2">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.licenses' | translate }}:
          </span>
          {{ vm.subscription.max_licenses }}
        </div>

        <div class="cell col-sm-3">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.price' | translate }}:
          </span>

          <div ng-hide="vm.subscription.product_pricing.pricing_type == 'payg'">
            <div ng-repeat="price in vm.subscription.product_pricing.prices | filterBy: ['currency']: vm.selectedCurrency" class="badge">
              <span ng-hide="vm.subscription.product_pricing.license_based">
                {{ price.currency }} {{ price.price_cents / 100 | number:2 }}
                <span ng-show="vm.subscription.product_pricing.pricing_type == 'recurring'">
                  / {{ vm.subscription.product_pricing.per_unit }} / {{ vm.subscription.product_pricing.per_duration }}
                </span>
              </span>
              <span ng-show="vm.subscription.product_pricing.license_based">
                {{ price.currency }} {{ price.price_cents / 100 * vm.subscription.max_licenses | number:2 }}
                <span ng-show="vm.subscription.product_pricing.pricing_type == 'recurring'">
                  / {{ vm.subscription.product_pricing.per_duration }}
                </span>
              </span>
            </div>
          </div>

          <span ng-show="vm.subscription.product_pricing.pricing_type == 'payg'">
            {{ 'mno_enterprise.templates.dashboard.provisioning.order.pricing_type.payg' | translate }}
          </span>
          <span ng-show="vm.subscription.product_pricing.pricing_type == 'free'">
            {{ 'mno_enterprise.templates.dashboard.provisioning.order.pricing_type.free' | translate }}
          </span>
        </div>
      </div>
    </div>

    <span class="pull-right top-buffer-1">
      <button class="btn btn-primary" ng-show="vm.orderEditable()" ng-click="vm.editOrder(false)" translate>mno_enterprise.templates.dashboard.provisioning.confirm.edit_order</button>
      <button class="btn btn-warning" ng-click="vm.validate()" ng-disabled="vm.isLoading">
        <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
        <span translate>mno_enterprise.templates.dashboard.provisioning.confirm.validate</span>
      </button>
      <button class='btn btn-warning add-to-cart' ng-click="vm.addToCart()" ng-disabled="vm.isLoading" ng-if="!vm.subscription.id">
        <span ng-show="vm.isLoading"><i class='fa fa-spinner fa-pulse fa-fw'></i></span>
        <span uib-tooltip="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.cart.add_to_cart' | translate}}">
          <i class='fa fa-cart-plus'></i>
        </span>
      </button>
    </span>
  </div>
</div>
