#provisioning-layout {
  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    .breadcrumb-item {
      &.active {
        color: @provisioning-breadcrumb-item-active-color;
      }
    }
  }

  .well {
    background-color: @provisioning-well-bg-color;
  }
}
