<div id="provisioning-order">
  <form name="provisioningForm">
    <h1 translate>{{ vm.subscriptionPlanText }}</h1>
    <div class="well pricing-plans clearfix">
      <div class="breadcrumb-info">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">{{ vm.subscription.product.name }}</li>
        </ol>
      </div>
      <div ng-show="vm.isLoading" class="text-center">
        <i class="fa fa-refresh fa-spin fa-4x"></i>
      </div>

      <div ng-hide="vm.isLoading" class="table-cell" ng-show="!isLoading">
        <div class="row th-row hidden-xs">
          <div class="col-xs-10 col-xs-offset-2">
            <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.provisioning.order.name' | translate }}</div>
            <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.order.description' | translate }}</div>
            <div class="cell col-sm-2">{{ 'mno_enterprise.templates.dashboard.provisioning.order.price' | translate }}</div>
            <div class="cell col-sm-3">
              <select class="form-control" ng-if="::main.adminConfig.isCurrencySelectionEnabled()" ng-model="vm.selectedCurrency" ng-options="c for c in vm.currencies" ng-change="vm.pricingPlanFilter()">
              </select>
            </div>
          </div>
        </div>

        <div class="row td-row" ng-if="vm.subscription.product.pricing_plans.length === 0">
          <div class="cell col-md-12 text-center" translate>
            {{ 'mno_enterprise.templates.dashboard.provisioning.order.no_pricing_found' | translate }}
          </div>
        </div>

        <div class="row td-row" ng-repeat="pricingPlan in vm.filteredPricingPlans" ng-click="vm.selectPlan(pricingPlan)">
          <div class="cell radio-selector col-xs-2">
            <input type="radio" name="optradio" ng-model="vm.subscription.product_pricing.id" ng-value="pricingPlan.id" required>
          </div>

          <div class="col-xs-10">
            <div class="cell col-sm-2">
              <span class="cell-label visible-xs-inline">
                {{ 'mno_enterprise.templates.dashboard.provisioning.order.name' | translate }}:
              </span>
              {{ pricingPlan.name }}
            </div>

            <div class="cell col-sm-4">
              <span class="cell-label visible-xs-inline">
                {{ 'mno_enterprise.templates.dashboard.provisioning.order.description' | translate }}:
              </span>
              {{ pricingPlan.description }}
            </div>

            <div class="cell col-sm-5">
              <span class="cell-label visible-xs-inline">
                {{ 'mno_enterprise.templates.dashboard.provisioning.order.price' | translate }}:
              </span>
              <span ng-if="vm.pricedPlan(pricingPlan)" ng-repeat="price in pricingPlan.prices | filterBy: ['currency']: vm.selectedCurrency" class="badge">
                {{ price.currency }} {{ price.price_cents / 100 }}
              </span>
              <span ng-show="pricingPlan.pricing_type == 'recurring'">
                / {{ pricingPlan.per_unit }} / {{ pricingPlan.per_duration }}
              </span>
              <span ng-show="pricingPlan.pricing_type == 'payg'">
                {{ 'mno_enterprise.templates.dashboard.provisioning.order.pricing_type.payg' | translate }}
              </span>
              <span ng-show="pricingPlan.pricing_type == 'free'">
                {{ 'mno_enterprise.templates.dashboard.provisioning.order.pricing_type.free' | translate }}
              </span>
            </div>
          </div>
        </div>

        <div ng-show="vm.subscription.product_pricing.license_based">
          <div class="row">
            <div class="col-xs-10">
              <label>{{ 'mno_enterprise.templates.dashboard.provisioning.order.licenses' | translate }}:
                <input type="number" name="input" ng-model="vm.subscription.max_licenses" min="1" ng-required="vm.subscription.product_pricing.license_based">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10">
              <label>{{ 'mno_enterprise.templates.dashboard.provisioning.order.total' | translate }}:
                <span ng-hide="vm.subscription.product_pricing.pricing_type == 'payg'" ng-repeat="price in vm.subscription.product_pricing.prices | filterBy: ['currency']: vm.orgCurrency" class="badge">
                  {{ price.currency }} {{ price.price_cents / 100 * vm.subscription.max_licenses | number:2 }}
                </span>
                <span ng-show="vm.subscription.product_pricing.pricing_type == 'recurring'">
                  / {{ vm.subscription.product_pricing.per_unit }} / {{ vm.subscription.product_pricing.per_duration }}
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary top-buffer-1 pull-right" ng-click="vm.next(vm.subscription, vm.selectedCurrency)" ng-hide="vm.isLoading" ng-disabled="provisioningForm.$invalid || !vm.subscription.product_pricing" translate>
        mno_enterprise.templates.dashboard.provisioning.order.next
      </button>
    </div>
  </form>
</div>
