<div id="provisioning-summary">
  <h1 translate>mno_enterprise.templates.dashboard.provisioning.summary.title</h1>
  <p translate>mno_enterprise.templates.dashboard.provisioning.summary.order_being_processed</p>
  <p translate>mno_enterprise.templates.dashboard.provisioning.summary.manage_subscriptions</p>
  <div class="well">
    <h2 translate>mno_enterprise.templates.dashboard.provisioning.summary.subscriptions</h2>
    <div class="table-cell">
      <div class="row th-row hidden-xs">
        <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.summary.name' | translate }}</div>
        <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.summary.description' | translate }}</div>
        <div class="cell col-sm-4">{{ 'mno_enterprise.templates.dashboard.provisioning.summary.price' | translate }}</div>
      </div>

      <div class="row td-row">
        <div class="cell col-sm-4">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.name' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.name }}
        </div>

        <div class="cell col-sm-4">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.description' | translate }}:
          </span>
          {{ vm.subscription.product_pricing.description }}
        </div>

        <div class="cell col-sm-4">
          <span class="cell-label visible-xs-inline">
            {{ 'mno_enterprise.templates.dashboard.provisioning.confirm.price' | translate }}:
          </span>
          <span ng-repeat="price in vm.subscription.product_pricing.prices | filterBy: ['currency']: vm.orgCurrency">{{price.currency}} {{price.price_cents / 100}}</span>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary pull-right" ui-sref="home.impac" translate>mno_enterprise.templates.dashboard.provisioning.summary.go_to_my_app</button>
</div>
