<div id="app-connect-modal">
  <div class="modal-header">
    <div class="close" type="button" aria-label="Close" ng-click="close()">×</div>
    <h3 class="modal-title"
        translate="mno_enterprise.webhook.o_auth.providers.xero.connect_to"
        translate-values="{appname: app.name}"></h3>
  </div>

  <ul class="breadcrumb">
    <li>{{"mno_enterprise.templates.dashboard.link_account.title" | translate}}</li>
    <li><a href="#">{{"mno_enterprise.templates.dashboard.link_account.entities" | translate}}</a></li>
    <li><a href="#">{{"mno_enterprise.templates.dashboard.link_account.synchronize" | translate}}</a></li>
  </ul>

  <div class="modal-body">
    <h4 class="text-center">{{"mno_enterprise.templates.dashboard.link_account.link" | translate:{ appname: app.app_name} }}</h4>
    <div class="top-buffer-1"></div>

    <form sf-schema="schema" sf-form="form" sf-model="model"></form>
    
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">{{"mno_enterprise.webhook.o_auth.providers.cancel" | translate}}</button>
  </div>
</div>
