<div class="table-cell">
  <div class="row th-row hidden-xs">
    <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.organization.invoices.period' | translate }}</div>
    <div class="cell col-sm-3">{{ 'mno_enterprise.templates.dashboard.organization.invoices.amount' | translate }}</div>
    <div class="cell col-sm-3" ng-if="payment_enabled">{{ 'mno_enterprise.templates.dashboard.organization.invoices.paid' | translate }}</div>
    <div class="cell col-sm-3 text-center">{{ 'mno_enterprise.templates.dashboard.organization.invoices.download' | translate }}</div>
  </div>

  <div class="row td-row" ng-repeat="invoice in invoices">
    <div class="cell col-sm-3">
      <span class="cell-label visible-xs-inline">{{ 'mno_enterprise.templates.dashboard.organization.invoices.period' | translate }}:<br/></span>
      {{ invoice.started_at| amCalendar}} - {{ invoice.ended_at| amCalendar}}
    </div>

    <div class="cell col-sm-3">
      <span class="cell-label visible-xs-inline">
        {{ 'mno_enterprise.templates.dashboard.organization.invoices.amount' | translate }}:
      </span>
      {{ invoice.amount.value | currency: invoice.amount.options.symbol }} ({{ invoice.amount.options.iso_code }})</div>

    <div class="cell col-sm-3" ng-if="payment_enabled">
      <span class="cell-label visible-xs-inline">{{ 'mno_enterprise.templates.dashboard.organization.invoices.paid' | translate }}:</span>
      {{ {true: 'Yes', false: 'No'}[invoice.paid] }}
    </div>

    <div class="cell col-sm-3 text-center">
      <a ng-href="{{invoice.link}}" target="_blank" class="btn btn-sm">
        <i class="fa fa-cloud-download"></i>
        <span class="cell-label visible-xs-inline"><br/>{{ 'mno_enterprise.templates.dashboard.organization.invoices.download' | translate }}</span>
      </a>
    </div>
  </div>
</div>
