<div id="address">
  <div class="form-group">
    <div class="col-sm-6 address-field">
      <label class="address-sub-label control-label">{{ 'mno_enterprise.templates.components.mno_address.street' | translate }}*</label>
      <input type="text" class="form-control" ng-model="address.street" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 address-field">
      <label class="address-sub-label">{{ 'mno_enterprise.templates.components.mno_address.city' | translate }}*</label>
      <input type="text" class="form-control" ng-model="address.city" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 address-field">
      <label class="address-sub-label">{{ 'mno_enterprise.templates.components.mno_address.state' | translate }}*</label>
      <input type="text" class="form-control" ng-model="address.state_code" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 address-field">
      <label class="address-sub-label">{{ 'mno_enterprise.templates.components.mno_address.postal_code' | translate }}*</label>
      <input type="text" class="form-control" ng-model="address.postal_code" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 address-field">
      <label class="address-sub-label">{{ 'mno_enterprise.templates.components.mno_address.country' | translate }}*</label>
      <select class="form-control" ng-model="address.country_code" ng-options="country.alpha2 as country.name for country in validCountries()" required>
        <option value='' disabled selected class="country-select">{{ 'mno_enterprise.templates.components.mno_address.country_select' | translate}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 address-field">
      <label class="address-sub-label">{{ 'mno_enterprise.templates.components.mno_address.phone' | translate }}*</label>
      <div class="input-group">
        <div class="input-group-addon select">
          <select ng-options="country.alpha2 as country.phone_prefix for country in validCountries()" ng-model='address.phone_country_code' required></select>
        </div>
        <input type="text" class="form-control" ng-model="address.phone" required/>
    </div>
  </div>
</div>
