<div class="modal-body">
  <div translate="mno_enterprise.templates.dashboard.organization.settings.confirm_deletion_html"></div>
  <div class="form-group">
    <label for="delCompanyReasons">
      {{ 'mno_enterprise.templates.dashboard.organization.settings.deletion_reason' | translate }}
    </label>
    <textarea type="text" class="form-control" ng-model="$ctrl.delReasons" id="delCompanyReasons"></textarea>
  </div>

  <div class="form-group">
    <label for="delCompanypassword">
      {{ 'mno_enterprise.templates.dashboard.organization.settings.confirm_password' | translate }}
    </label>
    <input type="password" class="form-control" id="delCompanypassword" ng-model="$ctrl.password">
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">{{ 'mno_enterprise.templates.dashboard.organization.settings.cancel' | translate }}</button>
  <button type="button" class="btn btn-warning" ng-click="$ctrl.ok()" ng-disabled="$ctrl.isLoading || $ctrl.password === ''">
    <span ng-show="$ctrl.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
    {{ 'mno_enterprise.templates.dashboard.organization.settings.confirm_deletion' | translate }}
  </button>
</div>
