<div id='product'>
  <mno-loader ng-show="vm.isLoading" class="top-buffer-4"></mno-loader>
  <div class="row show-header top-buffer-4">
    <div class="col-md-12">
      <a ui-sref="home.marketplace" class="text-muted">
        <i class="fa fa-chevron-left"></i> {{ 'mno_enterprise.templates.dashboard.marketplace.show.back' | translate }}
      </a>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" ng-src="{{vm.product.logo}}" ng-alt="{{vm.product.name}}">
        </div>
        <div class="media-body">
          <h2 class="media-heading product-name">{{vm.product.name}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row top-buffer-4">
    <div ng-repeat="pricing in vm.product.product_pricings">
      <h3 class="text-center price-title"><b>{{pricing.name}}</b><h3>
      <div class="card" ng-mouseover="vm.showButton()" ng-mouseleave="vm.hideButton()">
        <div class="container">
          <div class="col-md-2 currencies pull-left">
            <div ng-repeat="price in pricing.prices">
              <div ng-show="price.price_cents">
                <p><h4>{{price.price_cents}}{{price.currency}}</h4></p>
              </div>
              <div ng-show="!price.price_cents">
                <p><h4>FREE!</h4></p>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="text-center price-text">
              <p><h4>{{pricing.description}}</h4></p> 
            </div>
          </div>
          <div class="col-md-2 pull-right" ng-show="vm.isButtonShown">
            <div class="pull-right">
              <i class="fa fa-plus-circle fa-5x" aria-hidden="true" ng-click="vm.getProduct()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
