<h2 class="section-title">{{ 'mno_enterprise.templates.dashboard.marketplace.index.title' | translate }}</h2>

<div ng-if="vm.areLocalProductsEnabled" class="row dashboard-organization top-buffer-4">
  <uib-tabset active="active">
    <uib-tab index="0">
      <div uib-tab-heading>{{ 'mno_enterprise.templates.dashboard.marketplace.index.applications' | translate }}</div>
      <mno-app-listing is-public="false"></mno-app-listing>
    </uib-tab>
    <uib-tab index="1">
      <div uib-tab-heading translate translate-value-appname="{{::app_name}}">
        mno_enterprise.templates.dashboard.marketplace.index.reseller_products
      </div>
      <mno-local-product-listing is-public="false"></mno-local-product-listing>
    </uib-tab>
  </uib-tabset>
</div>

<mno-app-listing is-public="false" ng-if="!vm.areLocalProductsEnabled"></mno-app-listing>
