<h2 class="section-title">{{ 'mno_enterprise.templates.dashboard.marketplace.index.title' | translate }}</h2>
<div class="row dashboard-organization top-buffer-4">
  <uib-tabset active="active">
    <uib-tab index="0">
      <div uib-tab-heading>{{ 'mno_enterprise.templates.dashboard.marketplace.index.applications' | translate }}</div>
      <mno-marketplace-apps></mno-marketplace-apps>
    </uib-tab>
    <uib-tab index="1">
      <div uib-tab-heading>{{ 'mno_enterprise.templates.dashboard.marketplace.index.products' | translate }}</div>
      <mno-marketplace-products></mno-marketplace-products>
    </uib-tab>
  </uib-tabset>
</div>

