<div class="modal-header">
  <div class="close" type="button" ng-click="modal.close(_self)" >×</div>
  <h3>Create New Company</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-error" ng-show="modal.errors">
        <button class="close" ng-click="modal.errors=''">×</button>
        <ul>
          <li ng-repeat="error in modal.errors">{{error}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <p>Enter a name for your new company</p>
      <input type="text" class="form-control" ng-model="modal.model.name" required/>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-default" ng-click="modal.close(_self)" ng-show="!modal.isLoading">Cancel</button>
      <button ng-click="modal.proceed(_self)" ng-disabled="modal.isLoading" class='btn btn-info'>
        <span ng-show="modal.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
        Create
      </button>
    </div>
  </div>
</div>
