<!-- Loader -->
<mno-loader ng-show="isLoading" class="top-buffer-1"></mno-loader>

<!-- List of teams -->
<div ng-show="!isLoading">
  <h4 ng-show="hasTeams()">{{ title }}</h4>

  <div uib-accordion class="accordion">

    <div ng-repeat="team in teams" class='teams-accordion-star-ref'>

      <div uib-accordion-group is-open="team.$isAccOpen">
        <div uib-accordion-heading>
          {{ team.name }}
          <span class="fa pull-right" ng-class="{'fa-caret-down': !team.$isAccOpen, 'fa-caret-up': team.$isAccOpen}"></span>
        </div>

        <div class="row text-center" ng-show="isTeamEmpty(team)">
          <p>
            <em>{{ 'mno_enterprise.templates.dashboard.teams.team_list.add_team_members' | translate:{teamname: team.name} }}</em>
          </p>

          <div ng-show="canManageTeam()">
            <button class="btn btn-sm btn-warning" ng-click="openAddTeamMemberModal(team)">
              <i class="fa fa-user-plus"></i>
              {{ 'mno_enterprise.templates.dashboard.teams.team_list.add_team_members' | translate }}
            </button>
          </div>
        </div>

        <div class="row" ng-show="!isTeamEmpty(team)">
          <div class="col-sm-12" ng-show="canManageTeam()">
            <button class="btn btn-sm btn-warning" ng-click="openAddTeamMemberModal(team)">
              <i class="fa fa-user-plus"></i>
              {{ 'mno_enterprise.templates.dashboard.teams.team_list.add_team_members' | translate }}
            </button>
          </div>
        </div>

        <!-- List of team members -->
        <div class="row" ng-show="!isTeamEmpty(team)">
          <div class="col-sm-12">

            <div class="table-cell">

              <div class="row th-row hidden-xs">
                <div class="cell col-sm-3 col-md-2">{{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_name' | translate }}</div>
                <div class="cell col-sm-4 col-md-2">{{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_surname' | translate }}</div>
                <div class="cell col-md-4 hidden-xs hidden-sm">{{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_email' | translate }}</div>
                <div class="cell col-sm-3 col-md-2 hidden-xs">{{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_role' | translate }}</div>
              </div>

              <div class="row td-row" ng-repeat="member in team.users">
                <div class="cell col-sm-3 col-md-2">
                  <span class="cell-label visible-xs-inline">
                    {{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_name' | translate }}:
                  </span>
                  {{ member.name }}
                </div>

                <div class="cell col-sm-4 col-md-2">
                  <span class="cell-label visible-xs-inline">
                    {{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_surname' | translate }}:
                  </span>
                  {{ member.surname }}
                </div>

                <div class="cell col-md-4 hidden-xs hidden-sm">
                  <span class="cell-label visible-xs-inline">
                    {{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_email' | translate }}:
                  </span>
                  {{ member.email }}
                </div>

                <div class="cell col-sm-3 col-md-2 hidden-xs">
                  <span class="cell-label visible-xs-inline">
                    {{ 'mno_enterprise.templates.dashboard.teams.team_list.tbl_role' | translate }}:
                  </span>
                  {{ memberRoleLabel(member) | translate }}
                </div>

                <div class="cell col-sm-2" ng-show="canManageTeam()">
                  <a ng-click="memberRemovalModal.open(team,member)" class="btn btn-link btn-link-danger">
                    <i class="fa fa-remove hidden-xs"></i>
                    <span class="cell-label visible-xs-inline">&nbsp;{{ 'mno_enterprise.templates.dashboard.teams.team_list.remove' | translate }}</span>
                  </a>
                </div>
              </div>

              <!-- End: table-cell -->
            </div>

            <!-- End: col-sm-12 -->
          </div>

          <!-- End: row list of users -->
        </div>

        <!-- End: accordion-group current billing -->
      </div>

      <!-- End: ng-repeat:teams -->
    </div>

    <!-- End: accordion -->
  </div>

  <!-- End: loading check wrapper -->
</div>
