<div class='row show-header top-buffer-4'>
  <div class='col-xs-12'>
    <a ui-sref="home.apps-management" class='text-muted'>
      <i class='fa fa-chevron-left'></i>
      {{ 'mno_enterprise.templates.dashboard.app_management.back' | translate }}
    </a>
  </div>
</div>

<mno-loader ng-show="vm.isLoading" class='top-buffer-4'></mno-loader>
<div class='row dashboard-app-management' ng-if="!vm.isLoading">
  <div class='col-xs-12 bottom-buffer-3'>
    <div>
      <h2>
        <img class='app-logo' ng-src="{{vm.product.logo}}">
        <label class='margin-left-20'>{{vm.product.product_name}}</label>
      </h2>
    </div>

    <uib-tabset active='active'>
      <uib-tab index='0'>
        <div uib-tab-heading>
          {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.title' | translate }}
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <div>
              <h3>
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.description' | translate }}
              </h3>
              <p>
                {{vm.product.name}}: {{vm.product.tiny_description}}
              </p>
              <p>
                <a ui-sref="home.marketplace.app({appId: vm.product.product_nid})">
                  {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.description_details' | translate }}
                </a>
              </p>
            </div>

            <div>
              <h3>
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.getting_started' | translate }}
              </h3>
              <p ng-bind-html="vm.product.getting_started"></p>
            </div>

            <div>
              <h3>
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.support.title' | translate }}
              </h3>
              <div>
                <a ng-href="{{ vm.product.support_url }}" target='_blank'>
                  {{'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.support.helpdesk' | translate:{app_name: vm.product.product_name} }}
                </a>
              </div>
              <div>
                <!-- TODO: Confirm Knowledge base URL -->
                <a href='https://maestrano.atlassian.net/wiki/x/NIFpAQ' target='_blank'>
                  {{'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.support.knowledge_base' | translate }}
                </a>
              </div>
            </div>

            <div>
              <h3>
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.technical_details.title' | translate }}
              </h3>
              <p>
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.technical_details.details' | translate }}
              </p>
              <div>
                <div>
                  <strong>
                    {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.technical_details.organization_id' | translate }}
                  </strong>
                </div>
                <div>{{vm.organization.uid}}</div>
              </div>
              <div>
                <div>
                  <strong>
                    {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.app_info.technical_details.group_id' | translate }}
                  </strong>
                </div>
                <div>{{vm.product.uid}}</div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index='1' disable="!vm.dataSharingEnabled()">
        <div uib-tab-heading>
          {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.connection_status.title' | translate }}
        </div>

        <div class='row top-buffer-1'>
          <div class='col-xs-12'>
            <div>
              <label>
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.connection_status.title' | translate }}
              </label>
              <span ng-show="vm.product.sync_status.attributes.status">{{vm.product.sync_status.attributes.status}}</span>
              <span ng-hide="vm.product.sync_status.attributes.status">
                <i class='fa fa-spinner fa-pulse fa-fw'></i>
              </span>
            </div>
            <div>
              <label>
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.connection_status.last_sync' | translate }}
              </label>
              <span ng-if="vm.product.sync_status.attributes.finished_at && vm.showDataSharingDate()">
                {{ vm.product.sync_status.attributes.finished_at | date: 'dd/MM/yyyy H:mm' }}
              </span>
              <span ng-if="!vm.product.sync_status.attributes.finished_at && vm.showDataSharingDate()">
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.connection_status.sync_in_progress' | translate }}
              </span>
              <span ng-if="!vm.showDataSharingDate()">
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.connection_status.never_sync' | translate }}
              </span>
            </div>
            <div>
              <div ng-show="vm.isAddOnSettingShown()">
                <button ng-click="vm.addOnSettingLauch()" class='btn btn-warning'>{{ 'mno_enterprise.templates.impac.dock.settings.access_add-on_settings' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index='2' disable="!vm.manageSubScriptionEnabled()">
        <div uib-tab-heading>
          {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.manage_subscription' | translate }}
        </div>

        <div class='top-buffer-1'>
          <mno-loader ng-show="vm.isCurrentSubscriptionLoading" class='top-buffer-4'></mno-loader>
          <div ng-hide="vm.isCurrentSubscriptionLoading" class='table-cell'>
            <div class='row th-row hidden-sm'>
              <div class='cell col-md-6'>
                <div class='row'>
                  <div class='cell col-md-6'>
                    {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.product' | translate }}
                  </div>
                  <div class='cell col-md-6'>
                    {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.subscription' | translate }}
                  </div>
                </div>
              </div>
              <div class='cell col-md-2'>
                {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.amount' | translate }}
              </div>
              <div class='cell col-md-2'>
                <div class='row'>
                  <div class='cell'>
                    {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.status' | translate }}
                  </div>
                </div>
              </div>
              <div class='cell col-md-2'>&nbsp;</div>
            </div>

            <div class='row td-row' ng-if="vm.subscriptions.length === 0">
              <div class='cell col-md-12 text-center' translate>
                mno_enterprise.templates.dashboard.provisioning.subscriptions.empty_list
              </div>
            </div>

            <div class='row td-row'>
              <div class='cell col-md-6'>
                <div class='row'>
                  <div class='cell col-md-6' ng-click="vm.goToSubscription(vm.currentSubscription)">
                    <span class='cell-label visible-xs-inline'>
                      {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.product' | translate }}:
                    </span>
                    <span title="{{ vm.currentSubscription.name }}">{{ vm.currentSubscription.product.name }}</span>
                  </div>

                  <div class='cell col-md-6' ng-click="vm.goToSubscription(vm.currentSubscription)">
                    <span class='cell-label visible-xs-inline'>
                      {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.subscription' | translate }}:
                    </span>
                    <span ng-show="vm.currentSubscription.product_pricing" title="{{ vm.currentSubscription.product_pricing.name }}">{{ vm.currentSubscription.product_pricing.name }}</span>&nbsp;<i class="fa fa-info-circle" ng-show="vm.currentSubscription.product_pricing.description" uib-tooltip="{{ vm.currentSubscription.product_pricing.description }}" tooltip-append-to-body='true'></i>
                    <span ng-hide="vm.currentSubscription.product_pricing">{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.not_available' | translate }}</span>&nbsp;<i class="fa fa-question-circle" ng-hide="vm.currentSubscription.product_pricing" uib-tooltip="{{'mno_enterprise.templates.dashboard.provisioning.subscriptions.tooltip.external_billing' | translate}}" tooltip-append-to-body="true"></i>
                  </div>
                </div>
              </div>

              <div class='cell col-md-2' ng-click="vm.goToSubscription(vm.currentSubscription)">
                <span class='cell-label visible-xs-inline'>
                  {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.amount' | translate }}:
                </span>
                <div ng-hide="vm.currentSubscription.product_pricing.pricing_type == 'payg'" ng-repeat="price in vm.currentSubscription.product_pricing.prices | filterBy: ['currency']: vm.orgCurrency" class="badge">
                  <span ng-hide="vm.currentSubscription.product_pricing.license_based">
                    {{ price.currency }} {{ price.price_cents / 100 | number:2 }}
                  </span>
                  <span ng-show="vm.currentSubscription.product_pricing.license_based">
                    {{ price.currency }} {{ price.price_cents / 100 * vm.currentSubscription.max_licenses | number:2 }}
                  </span>
                </div>
                <span ng-show="vm.currentSubscription.product_pricing.pricing_type == 'recurring'">
                  / {{ vm.currentSubscription.product_pricing.per_duration }}
                </span>
                <span ng-show="vm.currentSubscription.product_pricing.pricing_type == 'payg'">
                  {{ 'mno_enterprise.templates.dashboard.provisioning.order.pricing_type.payg' | translate }}
                </span>
              </div>

              <div class='cell col-md-2'>
                <div class='row'>
                  <div class='cell' ng-click="vm.goToSubscription(vm.currentSubscription)">
                    <span class='cell-label visible-xs-inline'>
                      {{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.status' | translate }}:
                    </span>
                    <span title="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.states.' + vm.currentSubscription.status | translate }}">{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.states.' + vm.currentSubscription.status | translate }}</span>
                    <i class='fa fa-info-circle' ng-hide="!vm.displayInfoTooltip(vm.currentSubscription)" uib-tooltip="{{'mno_enterprise.templates.dashboard.provisioning.subscriptions.tooltip.aborted' | translate}}" tooltip-append-to-body='true'></i>
                  </div>
                </div>
              </div>

              <div class='cell col-md-2'>
                <div class='pull-left'>
                  <a ng-click="vm.editSubscription(vm.currentSubscription, 'reactivate')" ng-show="vm.showEditAction(vm.currentSubscription, 'reactivate')" class='btn btn-link btn-link-primary' uib-tooltip="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.reactivate_tooltip' | translate }}" tooltip-append-to-body='true'>
                    <i class='fa fa-refresh'></i>
                  </a>
                  <a ng-click="vm.editSubscription(vm.currentSubscription, 'renew')" ng-show="vm.showEditAction(vm.currentSubscription, 'renew')" class='btn btn-link btn-link-primary' uib-tooltip="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.renew_tooltip' | translate }}" tooltip-append-to-body='true'>
                    <i class='fa fa-check-square'></i>
                  </a>
                  <a ng-click="vm.editSubscription(vm.currentSubscription, 'change')" ng-show="vm.showEditAction(vm.currentSubscription, 'change')" class='btn btn-link btn-link-warning' uib-tooltip="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.change_tooltip' | translate }}" tooltip-append-to-body='true'>
                    <i class='fa fa-pencil-square-o'></i>
                  </a>
                  <a ng-click="vm.editSubscription(vm.currentSubscription, 'modify')" ng-show="vm.showEditAction(vm.currentSubscription, 'modify')" class='btn btn-link btn-link-warning' uib-tooltip="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.modify_tooltip' | translate }}" tooltip-append-to-body='true'>
                    <i class='fa fa-pencil'></i>
                  </a>
                  <a ng-click="vm.editSubscription(vm.currentSubscription, 'suspend')" ng-show="vm.showEditAction(vm.currentSubscription, 'suspend')" class='btn btn-link btn-link-danger' uib-tooltip="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.suspend_tooltip' | translate }}" tooltip-append-to-body='true'>
                    <i class='fa fa-remove'></i>
                  </a>
                  <a ng-click="vm.editSubscription(vm.currentSubscription, 'cancel')" ng-show="vm.showEditAction(vm.currentSubscription, 'cancel')" class='btn btn-link btn-link-danger' uib-tooltip="{{ 'mno_enterprise.templates.dashboard.provisioning.subscriptions.cancel_tooltip' | translate }}" tooltip-append-to-body='true'>
                    <i class='fa fa-ban'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index='3' disable="!vm.orderHistoryEnabled()">
        <div uib-tab-heading>
          {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.order_history.title' | translate }}
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            <mno-loader ng-show="vm.isOrderHistoryLoading" class='top-buffer-4'></mno-loader>
            <div ng-show="!vm.isOrderHistoryLoading" class='well order-histroy top-buffer-2'>
              <div ng-if="!vm.subscriptionsHistory">
                {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.order_history.no_history' | translate }}
              </div>
              <div ng-if="vm.subscriptionsHistory">
                <div class='bottom-buffer-1'>
                  <div class='row subscription-event'>
                    <div class='col-sm-3'>
                      <label>
                        {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.order_history.start_date' | translate }}
                      </label>
                    </div>
                    <div class='col-sm-3'>
                      <label>
                        {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.order_history.event_type' | translate }}
                      </label>
                    </div>
                    <div class='col-sm-3'>
                      <label>
                        {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.order_history.status' | translate }}
                      </label>
                    </div>
                    <div class='col-sm-3'>
                      <label>
                        {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.order_history.message' | translate }}
                      </label>
                    </div>
                  </div>
                </div>
                <div ng-repeat="subscriptionEvent in vm.subscriptionsHistory">
                  <div class='row'>
                    <div class='col-sm-3'>{{ subscriptionEvent.created_at | amDateFormat: 'L' }}</div>
                    <div class='col-sm-3'>{{ subscriptionEvent.event_type }}</div>
                    <div class='col-sm-3'>{{ subscriptionEvent.status }}</div>
                    <div class='col-sm-3'>{{ subscriptionEvent.message }}</div>
                  </div>
                </div>
                <span ng-show="vm.subscriptionsHistory.length == 0">
                  {{ 'mno_enterprise.templates.dashboard.app_management.manage.tab.order_history.no_history' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
