<div class="modal-header">
  <button type="button" class="close" ng-click="logOff()"></button>
  <h4 class="modal-title" translate >{{ 'mno_enterprise.auth.sessions.timeout.header' }}</h4>
</div>
<div class="modal-body">
  <p translate>{{ 'mno_enterprise.auth.sessions.timeout.body.can_login' }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="logOff()">{{ 'mno_enterprise.auth.sessions.timeout.log_off'| translate }}</button>
  <button type="button" class="btn btn-primary" ng-click="stayLoggedIn()" ng-disabled="isLoading" >
    <span ng-show="isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
     {{ 'mno_enterprise.auth.sessions.timeout.stay_logged_in' | translate }} ({{countdown}})
  </button>
</div>
