<div class="modal-header">
  <button type="button" class="close" ng-click="logOff()"></button>
  <h4 class="modal-title" translate >Session Timeout</h4>
</div>
<div class="modal-body">
  <p translate>You are being logged off due to inactivity. Please choose to stay signed in or to logoff. Otherwise, you will be logged
  off automatically</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="logOff()">Log Off</button>
  <button type="button" class="btn btn-primary" ng-click="stayLoggedIn()" ng-disabled="isLoading || countdown == 0">
    <span ng-show="isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
    Stay Logged In ({{countdown}})
  </button>
</div>
