<div ng-if="current" class="row">
  <div class="col-md-6">
    <label>{{currentText}}</label>
    <input type="password" name="current_password" ng-model="data.current_password" ng-change="password.resetServerErrors()" class="form-control" required>
    <div ng-messages="form.current_password.$error" role="alert">
      <p ng-message="server" class="help-block">Current password {{ errorHandler.errorMessage('current_password') }}</p>
    </div>
  </div>
</div>
<div class="row top-buffer-1">
  <div class="col-md-6">
    <label>{{newText}}</label>
    <input type="password" name="password" ng-model="data.password" ng-change="password.check()" class="form-control" required>
    <div class="help-block">
      <ul class="col-sm-6 list-unstyled">
        <li>
          <mno-inline-message on="password.hasMinLength" message="{{'mno_enterprise.templates.components.mno_password.minimum_length' | translate:{length: minLength} }}"></mno-inline-message>
        </li>
        <li>
          <mno-inline-message on="password.hasOneNumber" message="{{'mno_enterprise.templates.components.mno_password.one_number' | translate}}"></mno-inline-message>
        </li>
      </ul>
      <ul class="col-sm-6 list-unstyled">
        <li>
          <mno-inline-message on="password.hasOneUpper" message="{{'mno_enterprise.templates.components.mno_password.one_uppercase_character' | translate}}"></mno-inline-message>
        </li>
        <li>
          <mno-inline-message on="password.hasOneLower" message="{{'mno_enterprise.templates.components.mno_password.one_lowercase_character' | translate}}"></mno-inline-message>
        </li>
      </ul>
    </div>
    <div ng-messages="form.password.$error" role="alert">
      <p ng-message="server" class="help-block">This password {{ errorHandler.errorMessage('password') }}</p>
    </div>
  </div>
  <div ng-if="confirm" class="col-md-6">
    <label>{{confirmText}}</label>
    <input type="password" name="password_confirmation" ng-model="data.password_confirmation" ng-change="password.check()" class="form-control" required>
    <div class="help-block">
      <ul class="col-sm-6 list-unstyled">
        <li>
          <mno-inline-message on="password.isSamePassword" message="{{'mno_enterprise.templates.components.mno_password.same_password' | translate}}"></mno-inline-message>
        </li>
      </ul>
    </div>
  </div>
</div>
