<div id="app-features">
  <div class="top-buffer-1 center-element">
    <span class="glyphicon" ng-class="isSingleSignOn ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'"></span>
    <span class="content">{{ 'mno_enterprise.templates.app_feature.single_sign_on' | translate }}</span>
  </div>
  <div class="center-element">
    <span class="glyphicon" ng-class="isSingleBilling ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'"></span>
    <span class="content">{{ 'mno_enterprise.templates.app_feature.single_billing' | translate }}</span>
  </div>
  <div class="center-element">
    <span class="glyphicon" ng-class="isDataSharing ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'"></span>
    <span class="content">{{ 'mno_enterprise.templates.app_feature.data_sharing' | translate }}</span>
  </div>
</div>
