<div uib-accordion class="accordion">
  <div uib-accordion-group is-open="DashboardCompanyDeletionCtrl.isDeletionOpen">
    <div uib-accordion-heading>
      {{ 'mno_enterprise.templates.dashboard.organization.settings.company_deletion' | translate }}<span class="fa pull-right" ng-class="{'fa-caret-down': !DashboardCompanyDeletionCtrl.isDeletionOpen, 'fa-caret-up': DashboardCompanyDeletionCtrl.isDeletionOpen}"></span>
    </div>
    <div translate="mno_enterprise.templates.dashboard.organization.settings.deletion_info_html"></div>
    <button ng-click="DashboardCompanyDeletionCtrl.requestDeletion()" class='btn btn-warning'>
      {{ 'mno_enterprise.templates.dashboard.organization.settings.request_deletion' | translate }}
    </button>
  </div>
</div>
