<div id="step4">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="content-panel">
        <h1>We’re Almost There</h1>
        <p>Before we forward you to your new dashboard, here are a few helpful hints to help you get started.</p>
        <ul>
          <li>You can access each of your newly added applications by clicking on them in the Application Dock, located in the top center of your dashboard.</li>
          <li>You can connect additional application from our marketplace by clicking on the “Marketplace” tab on the left-hand side menu of the page.</li>
          <li>Our <a href="https://maestrano.atlassian.net/wiki/display/UKB/Maestrano+Apps+Marketplace">User Knowledge Base</a> contains a range of tutorials and guides to getting the most out of your applications.</li>
          <li>Your new dashboard has more than 50 widgets that can be used to view your entire business performance at a glance.</li>
        </ul>
        <p>And remember, should you need any help along the way, our Customer Experience and Support team are more than happy to answer any of your questions. You can get in touch with them by clicking on the intercom chat (pink and white speech bubble icon)  in the bottom right-hand corner of Maestrano</p>
        <div class="text-center">
          <button class="btn btn-link next-button" ui-sref="home.impac" translate>
            mno_enterprise.templates.onboarding.welcome.discover_your_account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
