<div id="step4">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="content-panel">
        <h1 class="text-center" translate>mno_enterprise.templates.onboarding.almost_there.title</h1>
        <p class="top-buffer-2" translate>mno_enterprise.templates.onboarding.almost_there.text1</p>
        <ul>
          <li translate>mno_enterprise.templates.onboarding.almost_there.line1</li>
          <li translate>mno_enterprise.templates.onboarding.almost_there.line2</li>
          <li translate>mno_enterprise.templates.onboarding.almost_there.line3</li>
          <li translate>mno_enterprise.templates.onboarding.almost_there.line4</li>
        </ul>
        <p translate>mno_enterprise.templates.onboarding.almost_there.text2</p>
        <div class="text-center">
          <button class="btn btn-link next-button" ui-sref="home.impac" translate>
            mno_enterprise.templates.onboarding.welcome.discover_your_account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
