#step3 {

  .apps-loader {
    color: @onboarding-fetching-apps-loader-color;
  }

  .apps-wrapper {
    .top-buffer-2;
    display: flex;
    justify-content: space-around;

    .app-card {
      text-align: center;
      background-color: @onboarding-app-card-bg-color;
      color: @onboarding-app-card-text-color;
      padding: @onboarding-app-card-padding;
      .z-depth(3);

      mno-app-install-btn {
        display: block;
        margin-top: 15px;
      }
    }
  }

  .next-button-wrapper {
    width: 100%;
    float: left;
  }
}
