<div class="container-fluid">
  <mno-impersonation-bar></mno-impersonation-bar>
</div>

<div ng-if="isLoggedIn && hasNoOrganisations" class="layout-loading">
  <mno-without-organisation></mno-without-organisation>
</div>

<div id="dashboard" ng-if="isLoggedIn && !hasNoOrganisations">
  <dashboard-company-cart></dashboard-company-cart>
  <dashboard-company-selectbox></dashboard-company-selectbox>
  <dashboard-menu></dashboard-menu>
  <div class="container">
    <div ui-view></div>
  </div>
</div>
