@menu-left-width: 80px;

#layout-loading {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: @dashboard-bg-color;
  z-index: 1000;
  padding-top: 50px;

  &.ng-hide {
    transition: all linear 1s;
    opacity: 0;
  }

  .layout-loading-text {
    display: inline-block;
    padding-top: 15px;
    color: @bg-inverse-color;
  }
}

#dashboard {
  margin-left: @menu-left-width;

  /* Fix the container width if the screen is sm+ */
  @media screen and (min-width: @screen-sm-min) {
    .container {
      width: @container-sm - @menu-left-width;
    }
  }

  /* Fix the container width if the screen is md+ */
  @media screen and (min-width: @screen-md-min) {
    .container {
      width: @container-md - @menu-left-width;
    }
  }

  /* Fix the container width if the screen is lg+ */
  @media screen and (min-width: @screen-lg-min) {
    .container {
      width: @container-lg - @menu-left-width;
    }
  }

  @media (max-width: @screen-xs-max) {
    padding-top: 40px;
    margin-left: 0;
  }
}
