
<!-------------------------->
<!--    Select Box        -->
<!-------------------------->
<div class="company-select-box">
  <div class="wrapper">
    <div class="box-header">
      <span class="title">{{ selectBox.user.name }} {{ selectBox.user.surname }}</span>
      -
      <span class="title">{{ selectBox.organization.name }}</span>
      <a type="button" class="btn switch-company" ng-click="selectBox.toggle()">
        <i ng-class="!selectBox.isClosed && 'active'"></i>
      </a>
    </div>

    <div class="box-content scrollbar-hidden" uib-collapse="selectBox.isClosed">
      <ul class="list-unstyled">
        <li ng-repeat="organization in selectBox.user.organizations | orderBy:'name'" >
          <a href="" ng-click="selectBox.changeTo(organization)">
            <i class="fa" ng-class="organization === selectBox.organization ? 'fa-dot-circle-o' : 'fa-circle-o'"></i> {{organization.name}}
          </a>
        </li>
      </ul>
      <hr>
      <div class="default-link">
        <a href="" ng-click="selectBox.createNewOrga()"><small>{{ 'mno_enterprise.templates.dashboard.menu.new_company' | translate }}</small></a>
      </div>
      <div class="admin-link" ng-if="selectBox.user.admin_role">
        <a href="/admin/"><small>{{ 'mno_enterprise.templates.dashboard.menu.access_admin_panel' | translate }}</small></a>
      </div>
      <hr>
      <div class="default-link">
        <a ui-sref="logout">
          <i class="fa fa-lock"></i>
          <small>{{ 'mno_enterprise.templates.dashboard.menu.logout' | translate }}</small>
        </a>
      </div>
    </div>
  </div>
</div>
