<div class="dashboard-marketplace-product">
  <div class="product-content">
    <!-- Header -->
    <div class="row show-header top-buffer-4">
      <div class="col-md-12">
        <a ui-sref="{{vm.parentState}}" class="text-muted">
          <i class="fa fa-chevron-left"></i> {{ 'mno_enterprise.templates.dashboard.marketplace.show.back' | translate }}
        </a>
        <div class="media" ng-show="!vm.isLoading">
          <div class="pull-left">
            <img class="media-object" ng-src="{{vm.product.logo}}" ng-alt="{{vm.product.name}}">
          </div>
          <div class="media-body">
            <h2 class="media-heading">{{vm.product.name}}</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Product content -->
    <div class="show-content top-buffer-1" ng-show="!vm.isLoading">
      <div class="row">
        <!-- Screenshots -->
        <div class="col-md-8">
          <div class="well carousel">
            <div uib-carousel interval="3000" active="0">
              <div uib-slide ng-repeat="screenshot in vm.product.screenshots" class="screenshot" index="$index">
                <img ng-src={{screenshot}} alt="screenshot">
              </div>
            </div>
          </div>
        </div>

        <!-- Key benefits -->
        <div class="col-md-4">
          <div class="well text-center well-details">
            <div ng-if="!vm.isPublic" class="row">
              <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-8 col-md-offset-2">
                <mno-app-install-btn app="vm.product"></mno-app-install-btn>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 top-buffer-1">
                <ul class="key-benefits">
                  <li ng-repeat="benefit in vm.product.key_benefits track by $index">
                    <i class="fa fa-check"></i>
                    {{benefit}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Description row -->
      <div class="row">
        <div class="col-md-12">
          <div class="well top-buffer-1" ng-bind-html="vm.product.getting_started"></div>
        </div>
      </div>

      <!-- Pricing -->
      <div ng-if="vm.isPriceShown" class="row top-buffer-1">
        <div class="col-md-12">
          <div class="well">
            <h2>{{ 'mno_enterprise.templates.dashboard.marketplace.show.price' | translate }}</h2>
            <ul>
              <li ng-if="vm.product.free_trial_duration > 0">
                <b>{{ 'mno_enterprise.templates.dashboard.marketplace.show.free_trial_duration' | translate }}</b>: {{vm.product.free_trial_duration}} {{vm.product.free_trial_unit}}
              </li>
              <li ng-repeat="plan in vm.product.pricing_plans">
                <b>{{plan.name}}</b>: {{plan.description}} <br>
                <span ng-hide="vm.hideNoPricingFound(plan)">{{ 'mno_enterprise.templates.dashboard.marketplace.show.no_pricing_found' | translate }}</span>
                <span ng-show="vm.pricedPlan(plan)" ng-repeat="price in plan.prices | filterBy: ['currency']: vm.orgCurrency">
                  <span>{{price.currency}}</span>
                  <span ng-show="price.price_cents">{{price.price_cents / 100}}</span>
                  <span ng-show="plan.pricing_type == 'recurring'"> / {{plan.per_unit}} / {{plan.per_duration}}</span>
                  <br>
                </span>
                <span ng-show="plan.pricing_type == 'payg'">{{'mno_enterprise.templates.dashboard.marketplace.show.pricing.payg' | translate}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
