<div id="provisioning-details">
  <h1>Enter details</h1>
  <div class="well">
    <h3>Administrator</h3>
    <input type="text" class="form-control" placeholder="Firstname">
    <input type="text" class="form-control top-buffer-1" placeholder="Lastname">
    <input type="text" class="form-control top-buffer-1" placeholder="Email">
    <h3>Company</h3>
    <input type="text" class="form-control" placeholder="Address">
    <input type="text" class="form-control top-buffer-1" placeholder="Phone number">
    <input type="text" class="form-control top-buffer-1" placeholder="Company domain">
  </div>
  <button class="btn btn-primary pull-right" ui-sref="home.provisioning.additional_details">Next</button>
</div>
